@using DiyetSporWeb.Models
@model List<tblKullanici>
@{
    ViewBag.Title = "DanismanOnayEkrani";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Danışman Onay Ekranı</h2>

<div class="container-fluid">
     
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"> Danışmanlar</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Ad Soyad</th>
                            <th>Kayıt Tarihi</th>
                            <th>E mail</th>
                            <th>Danışman Tipi</th>
                            <th>Danismanlık Onayı</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Ad Soyad</th>
                            <th>Kayıt Tarihi</th>
                            <th>E mail</th>
                            <th>Danışman Tipi</th>
                            <th>Danismanlık Onayı</th>
                        </tr>
                    </tfoot>
                    <tbody>

                        @foreach (var danisman in Model)
                        {
                            <tr>
                                <td>@danisman.kullaniciAd @danisman.kullaniciSoyad</td>
                                <td>@danisman.kullaniciKayitTarihi </td>
                                <td>@danisman.kullaniciEmail</td>


                                @if (danisman.kullaniciTipi == "D")
                                {
                                    <td>DİYETİSYEN</td>
                                }
                                else
                                {
                                    <td>SPOR ANTRENÖRÜ</td>
                                }


                                <td>
                                    <a href="/Admin/DanismanOnayla/@danisman.kullaniciid"  class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> ONAYLA</a>
                                </td>


                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
