@using DiyetSporWeb.Models
@model List<danismanUyeGoruntulemeModel>
@{
    ViewBag.Title = "SporUyeGoruntule";
    Layout = "~/Views/Shared/_DanismanSporLayout.cshtml";
}

<h2>SporUyeGoruntule</h2>



<div class="container-fluid">

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"> Üyeler</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Uye adı</th>
                            <th>Uye Soyadı</th>
                            <th>E mail</th>
                            <th>Uye Kayıt</th>
                            <th>Goruntüle</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Uye adı</th>
                            <th>Uye Soyadı</th>
                            <th>E mail</th>
                            <th>Uye Kayıt</th>
                            <th>Goruntüle</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var uye in Model)
                        {
                            <tr>
                                <td>@uye.kullaniciAd</td>
                                <td>@uye.kullaniciSoyad</td>
                                <td>@uye.kullaniciEmail</td>
                                <td>@uye.basvuruTarihi</td>
                                <td>
                                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">GÖRÜNTÜLE</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
