
@{
    ViewBag.Title = "Index";
}


<div class="hero-wrap" style="background-image: url('../../Sources/Anasayfa/images/ana-gorsel.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-12 text ftco-animate mt-5 text-center" data-scrollax=" properties: { translateY: '70%' }">
                <div class="play-video d-flex align-items-center justify-content-center"><a href="https://vimeo.com/134941077" class="popup-vimeo"><span class="icon"><i class="ion-ios-play "></i></span></a></div>
                <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">DAHA SAĞLIKLI BİR HAYAT İÇİN KAYIT OLUN</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section ftco-no-pt ftco-no-pb ftco-volunteer">
    <div class="container-fluid px-md-0">
        <div class="row no-gutters">
            <div class="col-md-6 img-volunteer" style="background-image: url('../../Sources/Anasayfa/images/about.jpg');">
                <div class="row no-gutters justify-content-end">
                    <div class="col-lg-7">
                        <div class="text py-5 pl-md-4 pr-md-3">
                            <h2 class="mb-4">Ücretsiz online diyet ve antreman</h2>
                            <p>Biz her gün diyet ve sporumuzu yapıyoruz siz de gelin</p>
                            <p><a href="#" class="btn btn-primary py-3 px-4">Giriş Yap</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center bg-primary">
                <div class="about-text px-3 py-5 pl-md-5 pr-md-5">
                    <h2>Bu ay yakılan toplam kalori <br><span></span><strong class="number" data-number="380000">0</strong></h2>
                    <p>Bu sayıyı daha da yukarılara tırmandırmak ister misiniz...</p>
                    <p><a href="/Security/Login" class="btn btn-black py-3 px-4">Bize Katılın</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services-section py-5 py-md-0">
    <div class="container">
        <div class="row no-gutters d-flex">
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 text-center services d-block">
                    <div class="icon"><span class="flaticon-charity"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">7-24 İLETİŞİM</h3>
                        <p>Bize her zaman ulaşabilirsiniz.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 text-center services active d-block">
                    <div class="icon"><span class="flaticon-adoption"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">ONLİNE DİYET NEDİR?</h3>
                        <p>Online Diyet, diyetisyene gitmeye vakti olmayanlar veya daha rahat bir ortamda diyet hizmeti almak isteyenler; 
                        sağlıklı beslenmeyi öğrenip yaşam boyu korumak isteyenlerin ve ideal kilosuna ulaşmayı hedefleyenlerin tercih edebileceği bir sistemdir.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 text-center services d-block">
                    <div class="icon"><span class="flaticon-volunteer"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">NEDEN YAPAMAYASIN</h3>
                        <p>Mekiklerimi saymıyorum. Acıtmaya başladığında saymaya başlarım. Çünkü saymaya değer olan sadece onlardır. [Muhammed Ali]</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 text-center services d-block">
                    <div class="icon"><span class="flaticon-open-book"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Günün Sözü</h3>
                        <p>En güzel giysilerinden biri kendi vücudundur. Ona iyi bak!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  
<section class="testimony-section bg-light">
    <div class="container">
        <div class="row ftco-animate justify-content-center">
            <div class="col-md-6 d-flex">
                <div class="testimony-img" style="background-image: url('../../Sources/Anasayfa/testimony-img.jpg');"></div>
            </div>
            <div class="col-md-6 py-5">
                <div class="heading-section pb-4 pt-md-4 ftco-animate">
                    <h2 class="mb-0">TAM ZAMANI</h2>
                </div>
                <div class="carousel-testimony owl-carousel ftco-owl">
                    <div class="item">
                        <div class="testimony-wrap">
                            <div class="text">
                                <p class="mb-4">Hiçbirşey için geç değil bu gün neden başlamayasın?</p>
                            </div>
                            <div class="d-flex align-items-center">
                                <div class="user-img" style="background-image: url('../../Sources/Anasayfa/person_1.jpg')">
                                </div>
                                <div class="pos ml-3">
                                    <p class="name">Mustafa Gündoğdu</p>
                                    <span class="position">Admin</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap">
                            <div class="text">
                                <p class="mb-4">Vücudun neredeyse her acıya dayanır. İkna etmen gereken zihnindir.</p>
                            </div>
                            <div class="d-flex align-items-center">
                                <div class="user-img" style="background-image: url('../../Sources/Anasayfa/person_1.jpg')">
                                </div>
                                <div class="pos ml-3">
                                    <p class="name">Jeffrey Blatch</p>
                                    <span class="position">Fitness Koçu</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap">
                            <div class="text">
                                <p class="mb-4">Uçamazsan koş. Koşamazsan yürü. Yürüyemezsen emekle. Ama ne yaparsan yap ilerlemeye devam et.</p>
                            </div>
                            <div class="d-flex align-items-center">
                                <div class="user-img" style="background-image: url('../../Sources/Anasayfa/person_1.jpg')">
                                </div>
                                <div class="pos ml-3">
                                    <p class="name">Martin Luther King</p>
                                    <span class="position">KİNG</span>
                                </div>
                            </div>
                        </div>
                    </div>
                       
                </div>
            </div>
        </div>
    </div>
</section>

